*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans Condensed', sans-serif;
}

.container{
    width: 90%;
    margin: auto;
}

h1{
    text-align: center;
    margin: 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    color: $menu-color;
}