/* COLORI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

h1 {
  text-align: center;
  margin: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
  color: #002d75;
}

h2 {
  width: 100%;
  margin: 15px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  color: #002d75;
}

header {
  text-align: center;
}

header #logo {
  margin-bottom: 15px;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline;
}

header ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #002d75;
  padding: 15px;
}

header ul li a:hover {
  background-color: #b3e5fc;
}

header ul li a.active {
  background-color: #002d75;
  color: white;
}

.jumbotron {
  height: 1080px;
  margin-top: 15px;
  background-image: url(/images/molisana-home.jpg?cb7db241726fb646d7e1c8553429c07c);
}

.card-container {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.card-container .card {
  width: calc(100% / 3 - 10px);
  margin-right: 5px;
  position: relative;
}

.card-container .card img {
  width: 100%;
}

.card-container .card .overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: calc(100% - 5px);
  left: 50%;
  top: calc(50% - 3px);
  transform: translate(-50%, -50%);
}

.card-container .card .overlay a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: #002d75;
}

.card-container .card:hover .overlay {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.scheda-prodotto img {
  width: 100%;
  display: block;
}

.description {
  background-color: #b8dae4;
  line-height: 1.6;
  font-size: 22px;
}

.description .boxes {
  display: flex;
}

.description .boxes .box-info {
  width: calc(100% / 3);
  text-align: center;
  margin: 15px 0;
}

.description .boxes .box-info p {
  margin-top: 15px;
  text-transform: capitalize;
}

.container-fw {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container-fw > h2 {
  text-align: center;
}

.container-fw .box-news {
  width: calc(100% / 3);
  height: 500px;
  background-color: #002d75;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  border: 1px solid white;
}

.container-fw .box-news:hover {
  opacity: 1;
  transition: 0.5s linear;
}

.container-fw .box-news > hr {
  width: 20px;
  margin: 20px 0;
  color: white;
}

.container-fw .box-news > h3 {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: white;
}

.container-fw .box-news .date {
  color: white;
}

.container-fw .box-news button {
  background-color: transparent;
  border: 2px solid white;
  padding: 10px;
  color: white;
  font-weight: 600;
}

.container-fw .box-news button:hover {
  cursor: pointer;
  background-color: white;
  color: #002d75;
  transition: 0.5s ease-in-out;
}

.container-footer {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}

.container-footer .box-footer {
  width: calc(100% / 4);
  padding: 0 30px;
}

.container-footer .box-footer h4 {
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.container-footer .box-footer .img-footer {
  width: 10%;
  margin-top: 30px;
}

.container-footer .box-footer ul {
  list-style: none;
}

.container-footer .box-footer ul li > a {
  text-decoration: none;
  color: #808080;
  font-size: 22px;
  line-height: 1.6;
}

.container-footer .box-footer ul li > a:hover {
  color: #0d2240;
}

